<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" />
    <script src="vue.js"></script>

    <style type="text/css">
        #update-book {
            display: none;
        }
        th{
            width: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1> 图书管理系统 </h1>
            <div id="app">
                <table class="table table-hover">
                    <br>
                    <thead>
                        <tr>
                            <th>书名</th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>数量</th>
                            <th>价格</th>
                            <th>ISBN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book in filterBooks">
                            <td>{{book.name}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.press}}</td>
                            <td>{{book.num}}</td>
                            <td>{{book.price}}</td>
                            <td>{{book.isbn}}</td>
                            <template v-if="book.id%2==0">
                                  <td class="text-left">
                                        <button type="button" class="btn btn-success" class="del" @click="delBook(book)">删除</button>
                                        <button type="button" class="btn btn-success" @click="updateBook(book)">修改</button>
                                  </td>
                             </template>
                            <template v-else>
                                 <td class="text-left">
                                   <button type="button" class="btn btn-danger" class="del" @click="delBook(book)">删除</button> 
                                    <button type="button" class="btn btn-danger" @click="updataBook(book)">修改</button>
                                 </td>
                             </template>
                        </tr>
                    </tbody>
                </table>

                <div id="add-book">
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="col-md-4" style="text-align: center;font-size: 16px;">
                            请输入书名
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" v-model="search" />
                        </div>
                    </div>
                    <h3>添加书籍</h3>
                    <hr>
                    <div class="form-group">
                        <label for="name">书名</label>
                        <input type="text" class="form-control" id="name" v-model="book.name">
                    </div>
                    <div class="form-group">
                        <label for="author">作者</label>
                        <input type="text" class="form-control" id="name" v-model="book.author">
                    </div>
                    <div class="form-group">
                        <label for="press">出版社</label>
                        <input type="text" class="form-control" id="name" v-model="book.press">
                    </div>
                    <div class="form-group">
                        <label for="num">数量</label>
                        <input type="text" class="form-control" id="name" v-model="book.num">
                    </div>
                    <div class="form-group">
                        <label for="price">价格</label>
                        <input type="text" class="form-control" id="name" v-model="book.price">
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="text" class="form-control" id="name" v-model="book.isbn">
                    </div> 
                        <button class="btn btn-primary btn-block" v-on:click="addBook()">添加</button>
                </div>
                
                <div id="update-book">
                    <h3>修改书籍</h3>
                    <hr>
                    <div class="form-group">
                        <label for="name1">书名</label>
                        <input type="text" class="form-control" id="name" v-model="book.name1">
                    </div>
                    <div class="form-group">
                        <label for="author1">作者</label>
                        <input type="text" class="form-control" id="name" v-model="book.author1">
                    </div>
                    <div class="form-group">
                        <label for="press1">出版社</label>
                        <input type="text" class="form-control" id="name" v-model="book.press1">
                    </div>
                    <div class="form-group">
                        <label for="num1">数量</label>
                        <input type="text" class="form-control" id="name" v-model="book.num1">
                    </div>
                    <div class="form-group">
                        <label for="price1">价格</label>
                        <input type="text" class="form-control" id="name" v-model="book.price1">
                    </div>
                    <div class="form-group">
                        <label for="isbn1">ISBN</label>
                        <input type="text" class="form-control" id="name" v-model="book.isbn1">
                    </div> 
                        <button class="btn btn-primary btn-block" @click="updataBook()">完成</button>
                   
                </div>

            </div>
        </div>
    </div>
         <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
         <script type="text/javascript" src="bmjs.js" ></script>
</body>

</html>
